@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* Custom Classes */
@layer components {

  body {
    @apply font-primary scroll-smooth;
  }

  /* 1. Gradients */
  .gradient-1 {
    @apply bg-gradient-to-r from-[#F6FFBE] to-[#F99156];
  }

  .gradient-2 {
    @apply bg-gradient-to-b from-[#2555FF] to-[#9B8BFF];
  }

  .gradient-3 {
    @apply bg-gradient-to-b from-[#FFE259] to-[#FFA751];
  }

  .gradient-4 {
    @apply bg-gradient-to-b from-[#FF76E1] to-[#D0AA7D];
  }

  .gradient-5 {
    @apply bg-gradient-to-b from-[#923CFF] to-[#4E4EFF];
  }

  .gradient-6 {
    @apply bg-gradient-to-b from-[#F0F3FF] to-[#FFA4C5];
  }

  .gradient-bg {
    @apply bg-gradient-to-b from-[#070607] to-[#1B1B1B];
  }

  /* 2. Fonts */
  .heading-1 {
    @apply text-header-1 text-white font-black;
  }

  .heading-2 {
    @apply text-header-2 text-white font-bold;
  }

  .heading-3 {
    @apply text-header-3 text-white font-bold;
  }

  .heading-4 {
    @apply text-header-4 text-white font-semibold;
  }

  .heading-5 {
    @apply text-header-5 text-white font-semibold;
  }

  .subtitle {
    @apply text-subtitle text-white font-normal;
  }

  .paragraph {
    @apply text-paragraph text-white font-normal;
  }

  .strong-text {
    @apply text-strong-text text-white font-semibold;
  }

  .pre-title {
    @apply text-pre-title text-white font-medium;
  }

  .button-text {
    @apply text-button-text text-white font-bold;
  }

  /* Image */
  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }

  /* Link */
  .link {
    @apply text-button-text text-white font-bold;
  }

  .button {
    @apply w-full text-button-text text-white font-bold rounded-1;
  }

  .disabled {
    pointer-events: none;
  }
}